<button class="btn btn-secondary" routerLink="/manager-dashboard">
    <i class="bi bi-arrow-left"></i> Back
  </button>
<div class="container mt-4" style="max-width: 900px; margin: auto;">
  <h3 class="text-primary fw-bold text-center mb-4">Leaves Managed by Manager</h3>

  <div class="mb-3">
    <label for="managerId" class="form-label">Manager ID:</label>
    <input
      type="number"
      id="managerId"
      [(ngModel)]="managerId"
      name="managerId"
      class="form-control"
      placeholder="Enter Manager ID"
    />
  </div>

  <div class="text-center mb-3">
    <button class="btn btn-primary" (click)="getLeaves()">Get Leaves</button>
  </div>

  <div *ngIf="message" class="alert alert-info mt-3 rounded">
    {{ message }}
  </div>

  <table *ngIf="leaveList.length" class="table custom-employee-table table-bordered mt-4">
    <thead class="table-header">
      <tr>
        <th>Leave ID</th>
        <th>Employee ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaveList">
        <td>{{ leave.leaveId }}</td>
        <td>{{ leave.employeeId }}</td>
        <td>{{ leave.startDate }}</td>
        <td>{{ leave.endDate }}</td>
        <td>{{ leave.leaveType }}</td>
        <td>{{ leave.leaveStatus }}</td>
      </tr>
    </tbody>
  </table>
</div>

