.container {
  margin-top: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.search-form {
  flex-grow: 1;
  display: flex;
}

.search-form .input-group {
  flex-grow: 1;
}

.table {
  margin-top: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  color: #2c3e50;
}
