body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ccffcc; /* Clear light green */
    color: #000; /* Dark text for visibility */
}

.logo-container {
    text-align: center;
    margin: 30px 0;
}

.logo-img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    width: calc(25% - 10px);
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    background-color: #006400; /* Dark green */
    color: #fff;
}

button:hover {
    background-color: #228B22; /* Forest green */
    transform: scale(1.05);
}

h1 {
    font-size: 3em;
    color: #0a0800;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Arial Black', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
