<div class="payroll-processor-page d-flex">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h2 class="logo">Payroll</h2>
    <ul class="nav-links">
      <li><a routerLink="/payroll-processor-dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/payroll-processor-dashboard/deductions" routerLinkActive="active">Deductions</a></li>
      <li><a routerLink="/payroll-processor-dashboard/benefits" routerLinkActive="active">Benefits</a></li>
      <li><a routerLink="/payroll-processor-dashboard/payment-processing" routerLinkActive="active">Process payment</a></li>
    </ul>
  </nav>

  <div class="main-content p-4">
  <div *ngIf="showWelcome" class="welcome-message mb-4">
    <h3>Hi! {{ username }}</h3>
  </div>
  <router-outlet></router-outlet>
</div>
