<h1>Add Deduction Details Here</h1>

<form class="container col-md-6" #deductionForm="ngForm" (ngSubmit)="submitDeduction(deductionForm.value)">

  <!-- Deduction Name -->
  <div class="form-group">
    <label>Enter Deduction Name:</label>
    <input type="text" class="form-control" name="deductionName" ngModel required placeholder="Enter Deduction Name">
  </div><br>

  <!-- Deduction Amount -->
  <div class="form-group">
    <label>Enter Deduction Amount:</label>
    <input type="number" class="form-control" name="deductionAmount" ngModel required placeholder="Enter Deduction Amount">
  </div><br>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-success" [disabled]="deductionForm.invalid">Submit</button>

</form>
