<div class="employee-page d-flex">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h2 class="logo">Employee</h2>
    <ul class="nav-links">
      <li><a routerLink="/employee-dashboard" routerLinkActive="active">Dashboard</a></li>
  <li><a routerLink="/employee-dashboard/updateempdetails" routerLinkActive="active">UpdateDetails</a></li>
      <li><a routerLink="/employee-dashboard/view-paystubs" routerLinkActive="active">Paystub</a></li>
      <li><a routerLink="/employee-dashboard/attendance" routerLinkActive="active">Submit Attendance</a></li>
    </ul>
  </nav>


<div class="main-content p-4">
  <div *ngIf="showWelcome" class="welcome-message mb-4">
    <h3>Hi! {{ username }}</h3>
  </div>
  <router-outlet></router-outlet>
</div>