<div class="employee-page d-flex">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h2 class="logo">Employee</h2>
    <ul class="nav-links">
      <li><a routerLink="/employee-dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/employee-dashboard/get-paystubs" routerLinkActive="active">Paystub</a></li>
      <li><a routerLink="/employee-dashboard/submitattendance" routerLinkActive="active">Submit Attendance</a></li>
      <li><a routerLink="/employee-dashboard/requestleave" routerLinkActive="active">Request Leave</a></li>
   <li><a routerLink="/employee-dashboard/leave-status" routerLinkActive="active">Leave Status</a></li>

    </ul>
  </nav>


<div class="main-content p-4">
  <div *ngIf="showWelcome" class="welcome-message mb-4">
    <h3>Hi! {{ username }}</h3>
  </div>
  <router-outlet></router-outlet>
</div>