.payment-processing-home-container {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.back-btn {
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 6px;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  transition: 0.3s ease;
}

.back-btn:hover {
  background-color: #e2e8f0;
  border-color: #aaa;
  color: black;
}

.button-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* push content to top */
  align-items: center;
  gap: 25px;
  margin-top: 60px; /* push buttons slightly upward from center */
}

.btn-blue {
  background-color: #2563eb; /* blue-600 */
  color: white;
  font-size: 16px;
  width: 260px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-blue:hover {
  background-color: #1d4ed8; /* blue-700 */
}


