<div class="admin-page d-flex">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h2 class="logo">Admin</h2>
    <ul class="nav-links">
      <li><a routerLink="/admin-dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/admin-dashboard/employees" routerLinkActive="active">Employees</a></li>
      <li><a routerLink="/admin-dashboard/payroll" routerLinkActive="active">Payrolls</a></li>
      <li><a routerLink="/admin-dashboard/users" routerLinkActive="active">Users</a></li>
    </ul>
  </nav>

<div class="main-content p-4">
  <div *ngIf="showWelcome" class="welcome-message mb-4">
    <h3>Hi! {{ username }}</h3>
  </div>
  <router-outlet></router-outlet>
</div>