.admin-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: linear-gradient(to bottom, #1e3a8a, #3b82f6); /* Blue gradient */
  color: white;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin-bottom: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
}
.welcome-message {
  font-weight: 500;
  font-size: 1.5rem;
}