<div class="container">
  <div class="row">
    <div class="section">
      <h3>Employee Management</h3>
      <div class="links">
        <a routerLink="/admin-dashboard/add-employee" class="btn btn-primary">Add Employee</a>
        <a routerLink="/admin-dashboard/get-all-employee" class="btn btn-success">Get Employee</a>
      </div>
    </div>
    
   

    <div class="section">
      <h3>Payroll Management</h3>
      <div class="links">
        <a routerLink="/admin-dashboard/add-payroll" class="btn btn-primary">Add Payroll Policy</a>
        <a routerLink="/admin-dashboard/get-payroll" class="btn btn-success">Get Payroll Policy</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
