<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div class="deductions-home-container">

  <!-- Back Button -->
  <div class="w-100 d-flex justify-content-start mb-3 ps-5">
    <button class="back-btn btn btn-light" routerLink="/payroll-processor-dashboard">← Back</button>
  </div>

  <!-- Centered Buttons -->
  <div class="button-wrapper">
    <button class="btn btn-blue" routerLink="/payroll-processor-dashboard/add-deduction">
    👤➕ Add deductions
    </button>

    <button class="btn btn-blue" routerLink="/payroll-processor-dashboard/get-deduction">
      👁️‍🗨️ View deductions
    </button>
  </div>
</div>

