<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div class="manager-home-container">

  <!-- Back Button -->
  <div class="w-100 d-flex justify-content-start mb-3 ps-5">
    <button class="back-btn btn btn-light" routerLink="/manager-dashboard">← Back</button>
  </div>

  <!-- Centered Buttons -->
  <div class="button-wrapper">
    <button class="btn btn-blue" routerLink="/manager-dashboard/updateleaverequest">
    approve/reject leave
    </button>

   
  </div>
</div>

