<div class="manager-page d-flex">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h2 class="logo">Manager</h2>
    <ul class="nav-links">
      <li><a routerLink="/manager-dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/manager-dashboard/leave-approval" routerLinkActive="active">Leave Approval</a></li>
            <li><a routerLink="/manager-dashboard/manager-leaves" routerLinkActive="active">Get Leaves</a></li>
     
    </ul>
  </nav>

<div class="main-content p-4">
  <div *ngIf="showWelcome" class="welcome-message mb-4">
    <h3>Hi! {{ username }}</h3>
  </div>
  <router-outlet></router-outlet>
</div>